
535435.py
113. Exercícios com funções.py~
.vs/ProjectSettings.json
.vs/slnx.sqlite
195 Exercício (+solução) - salvando a lista de tarefas em JSON/__pycache__/func195.cpython-310.pyc
195 Exercício (+solução) - salvando a lista de tarefas em JSON/Lista_de_Tarefas.json
195 Exercício (+solução) - salvando a lista de tarefas em JSON/__pycache__/func195.cpython-310.pyc
aula305_descompactado
aula_305_diretorio_zip
aula186_compactado.zip
*.json
*.iml
*.pyc
.idea
*.xml
.idea/workspace.xml
